<h1 style="color: blue; text-decoration: underline;"><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <br/>

    언젠가는 세상에 ‘가치'를 불어넣고자 매일같이 성장하고 있는 소프트웨어 엔지니어 JayB 입니다.<br/><br/><br/>

    온 갖 종류의 에러와 즐거운(?) 데이트를 하면서...<br/><br/>
    숨박꼭질 하듯 디버깅을 하면서...<br/><br/>
    여러가지 삽질을 하면서...<br/><br/>
    하루하루 프로젝트를 개발 하다보니...<br/><br/><br/>

    어느 덧 2년이라는 시간이 훌쩍…(!) 지나가버렸습니다.<br/><br/><br/>

    언젠간 이 세상에 조그마한 가치를 불어넣을 수 있는 기회를 쟁취하기 위해<br/><br/>
    오늘도 데이터 하러 갑니다...!<br/><br/><br/>

    “Stay Foolish, Stay Hungry”<br/>

    <br/>
</div>
