<h1 style="color: blue; text-decoration: underline;"><span data-i18n="skills.my_skills">PROJECTS</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col" style="margin-bottom: 20px">
                <h3 style="margin-bottom: 5px">{{ project.name }}</h3>
                <p style="margin-bottom: 15px">{{ project.descr }}</p>

                {% if project.github %}
                <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}

            </div>
    </div>
{% endfor %}
