/* ==========================================================================
   Typography
   ========================================================================== */

a {
   text-decoration: none;
   color: $primary;
   &:hover,
   &:focus {
     color: lighten($primary, 14%);
     text-decoration: none;
   }
}

html {
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: normal;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @media only screen and (min-width: 0) {
    font-size: $small-font-size;
  }

  @media only screen and (min-width: $small-screen) {
    font-size: $base-font-size;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: $base-font-size * 1.1;
  }
}

blockquote {
  display: block;
	position: relative;
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid $secondary;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: $text-color;
  &:hover,
  &:focus {
    color: lighten($text-color, 24%);
  }
}
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0; text-transform: uppercase;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 75%; }
