// Global Variables --------------------

// Google font import --------------------
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic|Ubuntu+Mono);

// fonts & typo --------------------
$base-font-family:      'Source Sans Pro', 'Helvetica Neue', Helvetica;
$heading-font-family:   $base-font-family;
$monospace-font-family: 'Ubuntu Mono', Menlo, monospace;
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;
$base-space-unit:       1.5em;

// Colors --------------------
$text-color:        rgba(0, 0, 0, 0.87) !default;
$background-color:  #f0f2f2;
$strong-color:      contrast($background-color, darken($text-color, 32%), lighten($text-color, 32%));
$subtle-color:      contrast($text-color, lighten($text-color, 16%), darken($text-color, 16%));

$white:             #fff;
$primary:           #8d7edc;
$secondary:         #F36170;
$success:           #42b983;
$danger:            #f83e4b;
$warning:           #F5A623;
$info:              #09ABF6;

// Tables --------------------
$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;

// Grid Variables --------------------
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Media Query Ranges --------------------
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$larger-screen: 1600px !default;
