---
layout: default
---
<div class="row">
    <div class="col l7">
        <div class="row">
            <div class="col">
                {% include sections/about.html %}        
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% include sections/projects.html %}
            </div>
        </div>
    </div>

    <div class="col l4 offset-l1">
        <div class="row">
            {% include sections/skills.html %}    
        </div>
        <div class="row">
            {% include sections/career.html %}    
        </div>
        <div class="row">
            {% include sections/education.html %}    
        </div>
    </div>
    

</div>